/* font-family: 'Space Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
:root {
--New-cian: rgb(159, 232, 223);
--Strong-cyan: hsl(172, 67%, 45%);
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan1: hsl(186, 14%, 43%);
--Dark-grayish-cyan2: hsl(184, 14%, 56%);
--Light-grayish-cyan: hsl(185, 41%, 84%);
--Light-grayish-cyan2: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--Light-grayish-cyan);
    box-sizing: border-box;
}
.logo{
    text-align: center;
    margin: 12% 0 12% 0;
}
.container{
    background-color: var(--White);
    height: 140vh;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-sizing: border-box;
}
/********************************************/
/************CONTANEDOR CALCULADORA**********/
/********************************************/
.container .calculadora{
    height: 62%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}

/********************************************/
/************Ingreso de propina**************/
/********************************************/
.container .calculadora .calculadora__Bill{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container .calculadora .calculadora__Bill p{
    font-family: 'Space Mono', monospace;
    font-size: 17px;
    font-weight: 700;
    color: var(--Dark-grayish-cyan1);
}
.container .calculadora .calculadora__Bill input{
    box-sizing: border-box;
    border: 1px solid var(--Light-grayish-cyan2);
    outline: none;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    padding: 10px;
    background-color: var(--Light-grayish-cyan2);
    text-align: end;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    color: var(--Very-dark-cyan);
    background-image: url(../images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    
}
.container .calculadora .calculadora__Bill input:hover{
    border: 2px solid var(--Strong-cyan);
}
.container .calculadora .calculadora__Bill input:focus-visible{
    border: 2px solid var(--Strong-cyan);
}
/********************************************/
/****************Porcentajes*****************/
/********************************************/
.container .calculadora .caculadora__porcentaje{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container .calculadora  p{
    font-family: 'Space Mono', monospace;
    font-size: 17px;
    font-weight: 700;
    color: var(--Dark-grayish-cyan1);
    width: 100%;

}
.container .calculadora .caculadora__porcentaje button{
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    width: 47%;
    height: 50px;
    margin-bottom: 6%;
    background-color: var(--Very-dark-cyan);
    color: var(--White);
    border-radius: 5px;
}
.container .calculadora .caculadora__porcentaje button:hover{
    border: 2px solid var(--Strong-cyan);
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
}

.container .calculadora .caculadora__porcentaje input{
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    text-align: center;
    border: 0;
    border-radius: 5px;
    width: 47%;
    height: 50px;
    margin-bottom: 6%;
    box-sizing: border-box;
    background-color: var(--Light-grayish-cyan2);
}
.container .calculadora .caculadora__porcentaje input:hover{
    border: 2px solid var(--Strong-cyan);
}
.container .calculadora .caculadora__porcentaje input:focus-visible{
    border: 2px solid var(--Strong-cyan);
}
/********************************************/
/**********Cantidad de personas**************/
/********************************************/
.container .calculadora .calculadora__cantidad{
    box-sizing: border-box;
}
.container .calculadora .calculadora__cantidad p{
    font-family: 'Space Mono', monospace;
    font-size: 17px;
    font-weight: 700;
    color: var(--Dark-grayish-cyan1);
    width: 100%;
}
.container .calculadora .calculadora__cantidad input{
    border: 1px solid var(--Light-grayish-cyan2);
    border-radius: 10px;
    height: 50px;
    width: 100%;
    padding: 10px;
    outline: 0;
    background-color: var(--Light-grayish-cyan2);
    text-align: end;    
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    color: var(--Very-dark-cyan);
    background-image: url(../images/icon-person.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    box-sizing: border-box;
}
.container .calculadora .calculadora__cantidad input:hover{
    border: 2px solid var(--Strong-cyan);
}
.container .calculadora .calculadora__cantidad input:focus-visible{
    border: 2px solid var(--Strong-cyan);
}
/********************************************/
/************CONTANEDOR RESULTADO************/
/********************************************/
.container .resultado{
    margin: 3% 20px 3% 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    height: 34%;
    background-color: var(--Very-dark-cyan);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/********************************************/
/************Total individual****************/
/********************************************/
.container .resultado .resultado__individual{
    display: flex;
    align-items: center;
    height: 25%;
}

.container .resultado .resultado__individual p{
    width: 50%;
    font-family: 'Space Mono', monospace;
    font-size: 17px;
    font-weight: 700;
    color: white;
}
.container .resultado .resultado__individual p span{
    font-size: 16px;
    color: var(--Dark-grayish-cyan1);
}

.container .resultado .resultado__individual .p--individual{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    font-size: 30px;
    color: var(--Strong-cyan);
    box-sizing: border-box;
}

/********************************************/
/************Total general*******************/
/********************************************/
.container .resultado .resultado__total{
    display: flex;
    align-items: center;
    height: 25%;
    margin-top: -10%;
}

.container .resultado .resultado__total p{
    width: 50%;
    font-family: 'Space Mono', monospace;
    font-size: 17px;
    font-weight: 700;
    color: white;
}
.container .resultado .resultado__total p span{
    font-size: 16px;
    color: var(--Dark-grayish-cyan1);
}

.container .resultado .resultado__total .p--total{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    font-size: 30px;
    color: var(--Strong-cyan);
    box-sizing: border-box;
}
/********************************************/
/**************Boton total*******************/
/********************************************/
.container .resultado button{
    width: 100%;
    height: 22%;
    background-color: var(--Strong-cyan);
    border: 0;
    border-radius: 10px;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    font-weight: 700;
    color: var(--Very-dark-cyan);
    text-transform: uppercase;
}
.container .resultado button:hover{
    background-color: var(--New-cian);
}
